.home {
  display:flex;
  flex-direction: row;
  justify-content:space-around;
}
.home-img {
  height:60px;
  width: 35%;
  img {
    max-width: 100%;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.home-steps {
  margin-top:10em;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: space-around;
  align-items:center;
  img {
    width: 80%;
  }
}

.home-steps-item {
  text-align:center;
}

.home-steps-txt {
  display:flex;
  margin-top:1em;
  flex-direction:row;
  justify-content:space-around;
  h4 {
    color:$primary;
    font-weight: bold;
    font-size:26px;
  }
}

.home-list-txt {
  h4 {
    color:$primary;
    font-weight: bold;
    font-size:26px;
  }
}

$img-height:60px;
.home-list {
  background: rgb(245, 245, 245);
  padding: 72px 0px;
  margin-top:8em;
  display:flex;
  justify-content:space-around;
}

.home-list-img {
  height:$img-height;
  width: 35%;
  img {
    max-width: 80%;
    }
  }