$nav-height: 6em;

.horizontal-navbar {
  display:flex;
  width: 100%;
  height:$nav-height;
  background-color:$primary;
  align-items: center;
  text-align: center;
  justify-content:space-around;
  a {color:white;      
    &:hover {
      color:white;
  }}
  .navigation {
    display: flex;
    .nav-item {
      font-size: 18px;
      font-weight: 500;
      margin-right:1em;
    }
  }
  .nav-item-right {
    font-size: 18px;
    font-weight: 500;
  }
  .logo {
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    color:white;
  }
}

//links animation
a, a:visited {
	text-decoration: none;
	position: relative;
	
	&:after {
		content: '';
		height: 3px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		background: $dark;
		transition: 0.2s;
	}

	&:hover:after {
		width: 100%;
	}
	
	&.block {
		display: block;
		padding: 0.5em;
		
		&:hover {
			background: #eee;
		}
  }
}