$nav-height: 6em;

.horizontal-navbar {
  display:flex;
  width: 100%;
  height:$nav-height;
  background-color:$primary;
  align-items: center;
  text-align: center;
  justify-content:space-around;
  a {color:white;}
  .navigation {
    display: flex;
    .nav-item {
      font-size: 18px;
      font-weight: 500;
      margin-right:1em;
    }
  }
  .nav-item-right {
    font-size: 18px;
    font-weight: 500;
  }
  .logo {
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    color:white;
  }
}