$primary: #3B91DA ;
$secondary: #64E9EE ;
$info: #97C8EB ;
$darkblue:#093A3E;
$white:rgba(249, 250, 251, var(--tw-text-opacity));
$dark: #15202B;
$light:#202E3A;
$gray: #6B7280;
$lightgray: #9CA3AF;

$small: "only screen and (min-width: 640px)";
$medium: "only screen and (min-width: 1024px)";
$large: "only screen and (min-width: 1280px)";