@import './sass/utilities.scss';
@import './sass/navbar.scss';
@import './sass/calendar.scss';
@import './sass/footer.scss';
@import './sass/searchbar.scss';

// Global layout
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  p{
    font-size:18px;
    font-weight: 500;
    line-height: 2em;
  }
}

.App {
  position: relative;
  min-height: 100vh;
}
main {
  padding: 10% 10%;
  padding-bottom: $footer-height;
  padding-top:$nav-height;
}