@import './sass/utilities.scss';
@import './sass/navbar.scss';
@import './sass/calendar.scss';
@import './sass/footer.scss';

// Global layout
html {
  height: 100%;
}

body {
  position: relative;
  min-height:100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  padding-bottom:$footer-height
  p{
    color:$gray;
    font-weight: 500;
    line-height: 2em;
  }
}

// main {
//   padding:6em;
//   padding-top:$nav-height;
// }